

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  background-color: #055857;
  border-radius: 8px;
  border: 2px solid #008CBA;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  
}

.button:hover {
  background-color: #0aa5d8; /* Green */
  color: white;
}

.form-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("Images/Business2.jpg");
    background-size: cover;
  background-color: #cccccc;
  height: 980px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.job-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("Images/career.jpg");
    background-size: cover;
  background-color: #cccccc;
  height: 980px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#form-text {
  position: absolute;
  line-height: 1.6;
  padding-top: 15px;
  padding-right: 160px;
  padding-left: 160px;
  padding-bottom: 10px;

  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("Images/lined-paper.jpg");
  
  
  height: 500px;
  width: 600px;
  top: 50%;
  left: 50%;
  background-color: #cccccc;
  transform: translate(-50%, -50%);
  color: white;
  display:none;
}

#found-text {
  position: absolute;
  
  padding-top: 15px;
  padding-right: 100px;
  padding-left: 160px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 120%;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("Images/lined-paper.jpg");
  
  
  height: 650px;
  width: 950px;
  top: 50%;
  left: 50%;
  background-color: #cccccc;
  transform: translate(-50%, -50%);
  color: white;
}

.footer {
  border-top: 1px solid blue; 
  width: 100%; 
  padding: 5px;
  background-color:white;
  position: absolute;
  text-align:left;
}